/**
 * style.css
 *
 * Portfolio 2017
 *
 * Nelson Reitz
 * http://nelsonreitz.ch
 */

/** Table of content
 * - General
 */

/* General */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #dcdcdc;
}

p {
  font-size: 19px;
  line-height: 1.45;
}

.header,
.content,
.footer {
  margin: 0 auto;
  max-width: 720px;
}

.hero,
.footer {
  background-color: grey;
}

.header,
.footer {
  height: 72px;
}

.hero {
  height: 450px;
}

.hero,
.section {
  margin-bottom: 150px;
}



