/**
 * style.css
 *
 * Portfolio 2017
 *
 * Nelson Reitz
 * http://nelsonreitz.ch
 */

/** Table of content
 * - General
 */

/* General */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  max-width: 960px;
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: lightgrey;
}

.header,
.hero,
.section,
.footer {
  background-color: grey;
}

.header {
  height: 100px;
}

.hero,
.section {
  height: 450px;
  margin-bottom: 150px;
}

.footer {
  height: 100px;
}


