.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-wrapper main {
  flex-grow: 1;
}

.container {
  max-width: 50rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.blog-list {
  margin-right: -1.5rem;
  margin-left: -1.5rem;
}
