@value variables: "./variables.css";
@value sm, md, lg, xl from variables;

.blog-list {
  margin-right: -1rem;
  margin-left: -1rem;
}

@media screen and (min-width: sm) {
  .blog-list {
    margin-right: -1.5rem;
    margin-left: -1.5rem;
  }
}
