@value variables: "./variables.css";
@value sm, md, lg, xl from variables;

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-wrapper main {
  flex-grow: 1;
}

.blog-list {
  margin-right: -1rem;
  margin-left: -1rem;
}

@media screen and (min-width: sm) {
  .blog-list {
    margin-right: -1.5rem;
    margin-left: -1.5rem;
  }
}
