@value variables: "./variables.css";
@value text, primary from variables;
@value sm, md, lg, xl from variables;

.post-link {
  display: block;
  padding: 1rem;
  color: text;
  text-decoration: none;
  border-radius: 3px;
  background-color: #fff;
  transition: background-color .05s ease-in-out;
}

@media screen and (min-width: sm) {
  .post-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.post-link:not(:last-of-type) {
  margin-bottom: 1rem;
}

.post-link:hover {
  background-color: #f2f7fb;
}

.post-link .title {
  margin-bottom: 0;
  font-size: 1.75rem;
  font-weight: 300;
}

.post-link .date {
  margin-bottom: 0;
  color: #537b98;
}
