@value variables: "./variables.css";
@value secondary from variables;
@value sm, md, lg, xl from variables;

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-bottom: -1rem;
  margin-left: -1rem;
}

@media screen and (min-width: sm) {
  .row {
    margin-right: -1rem;
    margin-bottom: -2rem;
    margin-left: -1rem;
  }
}

@media screen and (min-width: lg) {
  .row {
    margin-right: -2.5rem;
    margin-left: -2.5rem;
  }
}

.row .col {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: sm) {
  .row .col {
    width: 50%;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: sm) {
  .row .skill-card {
    min-height: 5rem;
  }
}

.skill-card {
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem;
  background-color: #f2f7fb;
  border-radius: 3px;
}

@media screen and (min-width: sm) {
  .skill-card {
    padding: 1rem 1.5rem;
  }
}

.skill-card .title {
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.125;
}

.skill-card svg {
  width: 1.5rem;
  flex-shrink: 0;
  margin-right: 1rem;
  font-size: 1rem;
  color: secondary;
}

@media screen and (min-width: sm) {
  .skill-card svg {
    font-size: 1.5rem;
  }
}
