.btn {
  display: inline-block;
  padding: 1.5rem 3.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  background-color: #ec4a61;
  transition: background-color .1s ease-in-out;
}

.btn:hover {
  background-color: #c92a3f;
}
