@value variables: "./variables.css";
@value text, primary from variables;

.jumbotron {
  padding-top: 10vh;
  padding-bottom: 8rem;
}

.jumbotron h1 {
  font-size: 4rem;
}

.jumbotron p {
  margin-bottom: 4rem;
  font-size: 2rem;
  line-height: 1.5;
}

.jumbotron p a {
  color: text;
  text-decoration-color: rbga(0,0,0,.1);
}

.jumbotron p a:after {
  margin-top: -.3em;
  opacity: .33;
}

.jumbotron p a:hover:after {
  margin-top: -.3em;
  opacity: 1;
}

.jumbotron .emoji {
  vertical-align: middle;
}

.jumbotron .cta {
  font-size: 1.5rem;
  color: primary;
}
