@value variables: "./variables.css";
@value text, primary from variables;
@value sm, md, lg, xl from variables;

.jumbotron {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

@media screen and (min-width: sm) {
  .jumbotron {
    padding-top: 10vh;
  }
}

.jumbotron h1 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

@media screen and (min-width: sm) {
  .jumbotron h1 {
    font-size: 4rem;
  }
}

.jumbotron p {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5;
  hyphens: initial;
}

@media screen and (min-width: sm) {
  .jumbotron p {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
}

.jumbotron p a {
  color: text;
  text-decoration-color: rbga(0,0,0,.1);
}

.jumbotron p a:after {
  margin-top: -.3em;
  opacity: .33;
}

.jumbotron p a:hover:after {
  margin-top: -.3em;
  opacity: 1;
}

.jumbotron .accent {
  margin-bottom: 1.5rem;
}

.jumbotron em {
  font-style: initial;
  color: #ec4a61;
}

.jumbotron .emoji {
  vertical-align: middle;
}

.jumbotron .cta {
  display: inline-block;
  padding: 1.5rem 3.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  background-color: primary;
  transition: background-color .1s ease-in-out;
}

.jumbotron .cta:hover {
  background-color: #ec4a61;
}
